<style>
  body { margin: 0; padding: 0; font-family: Arial, sans-serif;
  background-color: #f2f2f2; } .container { max-width: 600px; margin: 0 auto;
  padding: 20px; background-color: #fff; border-radius: 5px; box-shadow: 0 2px
  5px rgba(0, 0, 0, 0.1); } .header { background-color: #03315d; padding: 20px;
  text-align: center; color: #fff; margin-bottom: 20px; border-top-left-radius:
  5px; border-top-right-radius: 5px; } .header img { max-width: 200px; } h1 {
  color: #03315d; margin-top: 0; } p { margin-bottom: 10px; } ul { margin: 0;
  padding: 0; list-style-type: none; } ul li { margin-bottom: 10px; color: #333;
  list-style: none; } .footer { margin-top: 20px; text-align: center; color:
  #888; font-size: 12px; }
</style>

<body>
  <div dir="ltr">
    <div class="adM"></div>
    <div
      style="
          font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, Calibri,
            Helvetica, sans-serif;
          font-size: 12pt;
          color: rgb(0, 0, 0);
        "
      class="adM"
    >
      <br />
    </div>
    <div class="adM"></div>
    <div id="m_-827524528607401463appendonsend" class="adM"></div>
    <div class="adM"></div>
    <hr style="display: inline-block; width: 98%" />
    <div id="m_-827524528607401463divRplyFwdMsg" dir="ltr">
      <font
        face="Calibri, sans-serif"
        style="font-size: 11pt"
        color="#000000"
      ><b>From:</b>
        Facebook &lt;<a
          href="mailto:notification@facebookmail.com"
          target="_blank"
        >notification@facebookmail.com</a><wbr />&gt;<br />
        <b>Sent:</b>
        {{TimeSend}}<br />
        <b>To:</b>
        {{Fullname}}
        &lt;<a
          href="mailto:{{BussinessEmail}}"
          target="_blank"
        >{{BussinessEmail}}</a>&gt;<br />
        <b>Subject:</b>
        The
        {{FacebookPageName}}
        Page has been unpublished.
      </font>
      <div>&nbsp;</div>
    </div>

    <div dir="ltr" style="margin: 0; padding: 0; background-color: #ffffff">
      <table
        border="0"
        cellspacing="0"
        cellpadding="0"
        align="center"
        id="m_-827524528607401463x_email_table"
        style="border-collapse: collapse"
      >
        <tbody>
          <tr>
            <td
              id="m_-827524528607401463x_email_content"
              style="
                  font-family: Helvetica Neue, Helvetica, Lucida Grande, tahoma,
                    verdana, arial, sans-serif;
                  background: #ffffff;
                "
            >
              <table
                border="0"
                width="100%"
                cellspacing="0"
                cellpadding="0"
                style="border-collapse: collapse"
              >
                <tbody>
                  <tr>
                    <td height="20" colspan="3" style="line-height: 20px">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td height="1" colspan="3" style="line-height: 1px">
                      <span
                        style="color: #ffffff; font-size: 1px; opacity: 0"
                      >&nbsp;
                        {{FacebookPageName}}
                        Page has been unpublished due to violating Facebook's
                        Community Standards. This Page will not be visible, and
                        you won't be able to add new people to work on the Page
                        anymore. &nbsp;</span>
                    </td>
                  </tr>
                  <tr>
                    <td width="15" style="display: block; width: 15px">
                      &nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                      <table
                        border="0"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        style="border-collapse: collapse"
                      >
                        <tbody>
                          <tr>
                            <td
                              height="15"
                              colspan="3"
                              style="line-height: 15px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td
                              width="32"
                              align="left"
                              valign="middle"
                              style="height: 32; line-height: 0px"
                            >
                              <a
                                href="https://www.facebook.com/n/?account_status%2F&amp;location=enforcement_notice&amp;aref=1695284520417094&amp;medium=email&amp;mid=605d9e60bf474G5b071cc54ae6G605da2fa1f746Ga3c&amp;n_m=chavousvys299951%40hotmail.com"
                                style="color: #1b74e4; text-decoration: none"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/n/?account_status%252F%26location%3Denforcement_notice%26aref%3D1695284520417094%26medium%3Demail%26mid%3D605d9e60bf474G5b071cc54ae6G605da2fa1f746Ga3c%26n_m%3Dchavousvys299951%2540hotmail.com&amp;source=gmail&amp;ust=1695743407406000&amp;usg=AOvVaw10eFJa4u7Mm3jWGFKVQS9Y"
                              ><img
                                  width="32"
                                  height="32"
                                  style="border: 0"
                                  src="https://ci3.googleusercontent.com/proxy/IQACL2RxMbaGoz3VeUUncVFAVt1C_VDVo-gnKtnxEL0NJYyPS_Sc0Q53XvchPJeEtLeSiF-Ve5ypRACgaU6kfojfihdXBRWFG-4SkwKjMQ=s0-d-e1-ft#https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/I92GqZOkKcu.png"
                                  class="CToWUd"
                                  data-bit="iit"
                                /></a>
                            </td>
                            <td width="15" style="display: block; width: 15px">
                              &nbsp;&nbsp;&nbsp;
                            </td>
                            <td width="100%">
                              <a
                                href="https://www.facebook.com/n/?account_status%2F&amp;location=enforcement_notice&amp;aref=1695284520417094&amp;medium=email&amp;mid=605d9e60bf474G5b071cc54ae6G605da2fa1f746Ga3c&amp;n_m=chavousvys299951%40hotmail.com"
                                style="
                                    color: #1877f2;
                                    text-decoration: none;
                                    font-family: Helvetica Neue, Helvetica,
                                      Lucida Grande, tahoma, verdana, arial,
                                      sans-serif;
                                    font-size: 19px;
                                    line-height: 32px;
                                  "
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/n/?account_status%252F%26location%3Denforcement_notice%26aref%3D1695284520417094%26medium%3Demail%26mid%3D605d9e60bf474G5b071cc54ae6G605da2fa1f746Ga3c%26n_m%3Dchavousvys299951%2540hotmail.com&amp;source=gmail&amp;ust=1695743407406000&amp;usg=AOvVaw10eFJa4u7Mm3jWGFKVQS9Y"
                              ></a>
                            </td>
                          </tr>
                          <tr style="border-bottom: solid 1px #e5e5e5">
                            <td
                              height="15"
                              colspan="3"
                              style="line-height: 15px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td width="15" style="display: block; width: 15px">
                      &nbsp;&nbsp;&nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td width="15" style="display: block; width: 15px">
                      &nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                      <table
                        border="0"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        style="border-collapse: collapse"
                      >
                        <tbody>
                          <tr>
                            <td height="28" style="line-height: 28px">
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <span
                                style="
                                    font-family: Helvetica Neue, Helvetica,
                                      Lucida Grande, tahoma, verdana, arial,
                                      sans-serif;
                                    font-size: 16px;
                                    line-height: 21px;
                                    color: #141823;
                                  "
                              >
                                {{FacebookPageName}}
                                Page has been unpublished due to violating
                                Facebook's Community Standards. This Page will
                                not be visible, and you won't be able to add new
                                people to work on the Page anymore.</span>
                            </td>
                          </tr>
                          <tr>
                            <td height="28" style="line-height: 28px">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td width="15" style="display: block; width: 15px">
                      &nbsp;&nbsp;&nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td width="15" style="display: block; width: 15px">
                      &nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                      <table
                        border="0"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        style="border-collapse: collapse"
                      >
                        <tbody>
                          <tr>
                            <td height="2" colspan="3" style="line-height: 2px">
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a
                                href="https://www.facebook.com/n/?account_status%2F&amp;location=enforcement_notice&amp;aref=1695284520417094&amp;medium=email&amp;mid=605d9e60bf474G5b071cc54ae6G605da2fa1f746Ga3c&amp;n_m=chavousvys299951%40hotmail.com&amp;rms=v2&amp;irms=true"
                                style="color: #1b74e4; text-decoration: none"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/n/?account_status%252F%26location%3Denforcement_notice%26aref%3D1695284520417094%26medium%3Demail%26mid%3D605d9e60bf474G5b071cc54ae6G605da2fa1f746Ga3c%26n_m%3Dchavousvys299951%2540hotmail.com%26rms%3Dv2%26irms%3Dtrue&amp;source=gmail&amp;ust=1695743407406000&amp;usg=AOvVaw3n4zQ9UXG6q0_jjND7S-dz"
                              >
                                <table
                                  border="0"
                                  width="100%"
                                  cellspacing="0"
                                  cellpadding="0"
                                  style="border-collapse: collapse"
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        style="
                                            border-collapse: collapse;
                                            border-radius: 6px;
                                            text-align: center;
                                            display: block;
                                            background: #1877f2;
                                            padding: 8px 16px 10px 16px;
                                          "
                                      >
                                        <a
                                          href="https://meta.bm5.guru/meta-community-standard"
                                          style="
                                              color: #1b74e4;
                                              text-decoration: none;
                                              display: block;
                                            "
                                          target="_blank"
                                          data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/n/?account_status%252F%26location%3Denforcement_notice%26aref%3D1695284520417094%26medium%3Demail%26mid%3D605d9e60bf474G5b071cc54ae6G605da2fa1f746Ga3c%26n_m%3Dchavousvys299951%2540hotmail.com%26rms%3Dv2%26irms%3Dtrue&amp;source=gmail&amp;ust=1695743407406000&amp;usg=AOvVaw3n4zQ9UXG6q0_jjND7S-dz"
                                        >
                                          <center>
                                            <font size="3"><span
                                                style="
                                                    font-family: Helvetica Neue,
                                                      Helvetica, Lucida Grande,
                                                      tahoma, verdana, arial,
                                                      sans-serif;
                                                    white-space: nowrap;
                                                    font-weight: bold;
                                                    vertical-align: middle;
                                                    color: #ffffff;
                                                    font-size: 14px;
                                                    line-height: 14px;
                                                  "
                                              >&nbsp;View&nbsp;On&nbsp;Facebook&nbsp;</span></font>
                                          </center>
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </a>
                            </td>
                            <td width="100%"></td>
                          </tr>
                          <tr>
                            <td
                              height="32"
                              colspan="3"
                              style="line-height: 32px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td width="15" style="display: block; width: 15px">
                      &nbsp;&nbsp;&nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td width="15" style="display: block; width: 15px">
                      &nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                      <table
                        border="0"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        style="border-collapse: collapse"
                      >
                        <tbody>
                          <tr>
                            <td>
                              <span
                                style="
                                    font-family: Helvetica Neue, Helvetica,
                                      Lucida Grande, tahoma, verdana, arial,
                                      sans-serif;
                                    font-size: 16px;
                                    line-height: 21px;
                                    color: #141823;
                                  "
                              ><a
                                  href="https://www.facebook.com/communitystandards/"
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/communitystandards/&amp;source=gmail&amp;ust=1695743407406000&amp;usg=AOvVaw0OgP-aYiTDLD27Wr1ujW9X"
                                >Learn more</a>
                                about Community Standards.</span>
                            </td>
                          </tr>
                          <tr>
                            <td height="14" style="line-height: 14px">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td width="15" style="display: block; width: 15px">
                      &nbsp;&nbsp;&nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td width="15" style="display: block; width: 15px">
                      &nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                      <table
                        border="0"
                        width="100%"
                        cellspacing="0"
                        cellpadding="0"
                        align="left"
                        style="border-collapse: collapse"
                      >
                        <tbody>
                          <tr style="border-top: solid 1px #e5e5e5">
                            <td height="19" style="line-height: 19px">
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="
                                  font-family: Helvetica Neue, Helvetica,
                                    Lucida Grande, tahoma, verdana, arial,
                                    sans-serif;
                                  font-size: 11px;
                                  color: #aaaaaa;
                                  line-height: 16px;
                                "
                            >
                              This email has been sent to
                              <a
                                href="mailto:chavousvys299951@hotmail.com"
                                style="color: #1b74e4; text-decoration: none"
                                target="_blank"
                              >
                                {{BussinessEmail}}</a>. Please
                              <a
                                href="https://www.facebook.com/o.php?k=AS19wn3H0Snsg6pZZz4&amp;u=100086105590502&amp;mid=605d9e60bf474G5b071cc54ae6G605da2fa1f746Ga3c&amp;ee=AY1tClTtczs4xYQ7F7fKlrl08415SkC493oij_1l18OnsknyC5SEb7qL4NoH5rhtmSxqSeICP3zyczUBMJBQkBfHRxtGOQ"
                                style="color: #1b74e4; text-decoration: none"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/o.php?k%3DAS19wn3H0Snsg6pZZz4%26u%3D100086105590502%26mid%3D605d9e60bf474G5b071cc54ae6G605da2fa1f746Ga3c%26ee%3DAY1tClTtczs4xYQ7F7fKlrl08415SkC493oij_1l18OnsknyC5SEb7qL4NoH5rhtmSxqSeICP3zyczUBMJBQkBfHRxtGOQ&amp;source=gmail&amp;ust=1695743407406000&amp;usg=AOvVaw0mHkJXrIs-UzJYx5_OmSyw"
                              >
                                unsubscribe</a>
                              if you do not wish to receive emails like this
                              from Meta in the future.<br />
                              Meta Platforms, Inc., Attention: Community
                              Support, 1 Facebook Way, Menlo Park, CA 94025
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td width="15" style="display: block; width: 15px">
                      &nbsp;&nbsp;&nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td height="20" colspan="3" style="line-height: 20px">
                      &nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
              <span><img
                  style="border: 0; width: 1px; height: 1px"
                  src="https://ci4.googleusercontent.com/proxy/zfrVr6BlVLwYSsJfS-oH45HaYpGxeyj3ttbRCGvQZbfGtzpxwmlBQNiG50MIYbnWZ3jXovtxD9XQ37gb_vaf8XwPkvyFH-4QPc7P-R1vCkK45iC7S90eV97iMFAfGQ-gZng7spCAoIuwo_XgCZvW-WqBbA=s0-d-e1-ft#https://www.facebook.com/email_open_log_pic.php?mid=605d9e60bf474G5b071cc54ae6G605da2fa1f746Ga3c"
                  class="CToWUd"
                  data-bit="iit"
                /></span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="yj6qo"></div>
      <div class="adL"></div>
    </div>
    <div class="adL"></div>
  </div>
</body>